extends layout

block content
    .row
      .col-md-6.col-md-offset-3
        h1.text-center.header Forgot Password
        form(method='POST' action='/forgotpassword').post-form.user-form.password-forget#passwordforget
          div.form-group.post-form-row
            label.control-label(for='email') Email:
            input#email.form-control.reset-field.password-forget-field(type='email' name='email' required)
          div.form-group.post-form-row
            label.control-label(for='confirmemail') Confirm Email:
            input#confirmemail.form-control.reset-field.password-forget-field(type='email' name='confirmEmail' required)
          input#userinfo.otherinput.userinfo(type='text' name='userinfo' value='')
          input.csrf#csrf(type='hidden' name='_csrf' value=csrfToken)
          button.btn.btn-primary.form-submit-btn#passwordforgetsubmit(type='submit') Submit
