extends layout

block content
  .row
    .col-md-6.col-md-offset-3
      h1.text-center.header Reset Password
      form(method='POST' action='/resetpassword').post-form.user-form.new-pass#newpass
        div.form-group.post-form-row
          label.control-label(for='pw') Password:
            span.sublabel Must be at least 10 characters, and include one of each of the following: lowercase letter, uppercase letter, non-alphanumeric symbol and number.
          input#pw.form-control.reset-field.new-pass-input(type='password' name='password' required)
        div.form-group.post-form-row
          label.control-label(for='confirmpw') Confirm Password:
          input#confirmpw.form-control.reset-field.new-pass-input(type='password' name='confirmPassword' required)
        input#userinfo.otherinput.userinfo(type='text' name='userinfo' value='')
        input.csrf#csrf(type='hidden' name='_csrf' value=csrfToken)
        input.tempToken#tempToken(type='hidden' name='tempToken' value=tempToken)
        input.usertoken#usertoken(type='hidden' name='token' value=userToken)
        button.btn.btn-primary.form-submit-btn#newpassubmit(type='submit') Submit
