extends layout

block content
	.row
		.col-md-6.col-md-offset-3
			h1.text-center.header Congratulations
			p.lead.text-center.success-text You have successfully confirmed your account for the .gov PDFs API. Your API key is:
			h2.text-center.well #{apiKey}
